{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="#">Student Database</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">Add a student</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/List_page">Student List</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="center">
			<h1 style="text-align:center;">UPDATE STUDENT INFO
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="center col-md-6">
			<form action=" " method="POST">
				{% for update in updates %}
				<input class="form-control" type="text" placeholder="New ID number" name="idnum" value="{{update[0]}}">
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">First and last name</span>
					</div>
					<input type="text" name="fname" placeholder="Update First Name" value="{{update[1]}}" class="form-control">
					<input type="text" name="lname" placeholder="Update Last Name" value="{{update[2]}}" class="form-control">
				</div>
				<input class="form-control" type="text" placeholder="Update Year Level" value="{{update[3]}}" name="yrlvl">
				{% endfor %}
				<div class="alert alert-info alert-dismissible fade show" role="alert">
					<strong>This is irreversible</strong> You should reinput the previous Gender, Course, and Department if you wish for these areas to remain as they are
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<hr>
				<div class="btn-group btn-group-toggle" data-toggle="buttons" aria-label="Gender">
					<h3>Choose gender: </h3>
					<label class="btn btn-info">
						<input type="radio" name="genderopt" id="M" value="M"> Male
					</label>
					<label class="btn btn-info">
						<input type="radio" name="genderopt" id="F" value="F">Female
					</label>
				</div>
				<hr>
				<div class="form-group">
					<label for="sel1">Select Course (select one):</label>
					<select class="form-control" id="sel1"  name="course_sel">
						{% for course in courses %}
						<option>{{course[0]}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="sel2">Select Department(select one):</label>
					<select class="form-control" id="sel2" name="dept_sel">
						{% for department in departments %}
						<option>{{department[0]}}</option>
						{% endfor %}
					</select>
				</div>
				<input class="btn btn-outline-success" type="submit" value="Submit">
			</form>
		</div>
	</div>

</div>
{% endblock %}